.animated-alert {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f2dede;
    color: #a94442;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.5s forwards;
    margin-top: 40px;
  }

  @keyframes slideIn {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }